.pessoas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
        justify-content: space-around;

    }
}

